USE [master]
GO
/****** Object:  Database [PersonalFinanceDB]    Script Date: 24/09/2025 2:59:17 CH ******/
CREATE DATABASE [PersonalFinanceDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PersonalFinanceDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.TIEUNHATBACH\MSSQL\DATA\PersonalFinanceDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PersonalFinanceDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.TIEUNHATBACH\MSSQL\DATA\PersonalFinanceDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PersonalFinanceDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PersonalFinanceDB]
GO
/****** Object:  Table [dbo].[BackupHistory]    Script Date: 24/09/2025 2:59:17 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BackupHistory](
	[BackupID] [uniqueidentifier] NOT NULL,
	[UserID] [uniqueidentifier] NOT NULL,
	[BackupType] [nvarchar](20) NOT NULL,
	[BackupSize] [bigint] NULL,
	[Status] [nvarchar](20) NOT NULL,
	[ErrorMessage] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NULL,
	[CompletedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[BackupID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BudgetCategories]    Script Date: 24/09/2025 2:59:17 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BudgetCategories](
	[BudgetCategoryID] [uniqueidentifier] NOT NULL,
	[BudgetID] [uniqueidentifier] NOT NULL,
	[CategoryID] [uniqueidentifier] NOT NULL,
	[AllocatedAmount] [decimal](18, 2) NOT NULL,
	[SpentAmount] [decimal](18, 2) NULL,
	[CreatedAt] [datetime2](7) NULL,
	[UpdatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[BudgetCategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Budgets]    Script Date: 24/09/2025 2:59:17 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Budgets](
	[BudgetID] [uniqueidentifier] NOT NULL,
	[UserID] [uniqueidentifier] NOT NULL,
	[BudgetName] [nvarchar](100) NOT NULL,
	[BudgetAmount] [decimal](18, 2) NOT NULL,
	[Period] [nvarchar](20) NOT NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NOT NULL,
	[IsActive] [bit] NULL,
	[CreatedAt] [datetime2](7) NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[SpentAmount] [decimal](18, 2) NULL,
	[WarningThreshold] [decimal](5, 2) NULL,
	[Color] [nvarchar](7) NULL,
	[CategoryID] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[BudgetID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 24/09/2025 2:59:17 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryID] [uniqueidentifier] NOT NULL,
	[UserID] [uniqueidentifier] NOT NULL,
	[CategoryName] [nvarchar](255) NULL,
	[Type] [nvarchar](20) NOT NULL,
	[Icon] [nvarchar](50) NULL,
	[Color] [nvarchar](7) NULL,
	[ParentCategoryID] [uniqueidentifier] NULL,
	[IsActive] [bit] NULL,
	[CreatedAt] [datetime2](7) NULL,
	[UpdatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 24/09/2025 2:59:17 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[NotificationID] [uniqueidentifier] NOT NULL,
	[UserID] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Message] [nvarchar](max) NOT NULL,
	[Type] [nvarchar](50) NOT NULL,
	[Priority] [nvarchar](20) NOT NULL,
	[IsRead] [bit] NULL,
	[IsArchived] [bit] NULL,
	[ActionUrl] [nvarchar](500) NULL,
	[ExpiresAt] [datetime2](7) NULL,
	[CreatedAt] [datetime2](7) NULL,
	[ReadAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[NotificationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transactions]    Script Date: 24/09/2025 2:59:17 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transactions](
	[TransactionID] [uniqueidentifier] NOT NULL,
	[UserID] [uniqueidentifier] NOT NULL,
	[CategoryID] [uniqueidentifier] NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[Type] [nvarchar](20) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[TransactionDate] [datetime2](7) NOT NULL,
	[ReceiptURL] [nvarchar](500) NULL,
	[Tags] [nvarchar](500) NULL,
	[CreatedAt] [datetime2](7) NULL,
	[UpdatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[TransactionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 24/09/2025 2:59:17 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [uniqueidentifier] NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[FirstName] [nvarchar](100) NOT NULL,
	[LastName] [nvarchar](100) NOT NULL,
	[PhoneNumber] [nvarchar](20) NULL,
	[AvatarURL] [nvarchar](500) NULL,
	[Currency] [nvarchar](3) NULL,
	[Language] [nvarchar](5) NULL,
	[TimeZone] [nvarchar](50) NULL,
	[IsEmailVerified] [bit] NULL,
	[IsActive] [bit] NULL,
	[CreatedAt] [datetime2](7) NULL,
	[UpdatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserSettings]    Script Date: 24/09/2025 2:59:17 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserSettings](
	[SettingID] [uniqueidentifier] NOT NULL,
	[UserID] [uniqueidentifier] NOT NULL,
	[SettingKey] [nvarchar](100) NOT NULL,
	[SettingValue] [nvarchar](max) NOT NULL,
	[SettingType] [nvarchar](20) NOT NULL,
	[Category] [nvarchar](50) NOT NULL,
	[CreatedAt] [datetime2](7) NULL,
	[UpdatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[SettingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[UserID] ASC,
	[SettingKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_BackupHistory_UserID_CreatedAt]    Script Date: 24/09/2025 2:59:17 CH ******/
CREATE NONCLUSTERED INDEX [IX_BackupHistory_UserID_CreatedAt] ON [dbo].[BackupHistory]
(
	[UserID] ASC,
	[CreatedAt] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_BudgetCategories_BudgetID]    Script Date: 24/09/2025 2:59:17 CH ******/
CREATE NONCLUSTERED INDEX [IX_BudgetCategories_BudgetID] ON [dbo].[BudgetCategories]
(
	[BudgetID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_BudgetCategories_CategoryID]    Script Date: 24/09/2025 2:59:17 CH ******/
CREATE NONCLUSTERED INDEX [IX_BudgetCategories_CategoryID] ON [dbo].[BudgetCategories]
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Budgets_IsActive]    Script Date: 24/09/2025 2:59:17 CH ******/
CREATE NONCLUSTERED INDEX [IX_Budgets_IsActive] ON [dbo].[Budgets]
(
	[IsActive] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Budgets_Period]    Script Date: 24/09/2025 2:59:17 CH ******/
CREATE NONCLUSTERED INDEX [IX_Budgets_Period] ON [dbo].[Budgets]
(
	[Period] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Budgets_UserID]    Script Date: 24/09/2025 2:59:17 CH ******/
CREATE NONCLUSTERED INDEX [IX_Budgets_UserID] ON [dbo].[Budgets]
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Budgets_UserID_IsActive]    Script Date: 24/09/2025 2:59:17 CH ******/
CREATE NONCLUSTERED INDEX [IX_Budgets_UserID_IsActive] ON [dbo].[Budgets]
(
	[UserID] ASC,
	[IsActive] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Categories_Type]    Script Date: 24/09/2025 2:59:17 CH ******/
CREATE NONCLUSTERED INDEX [IX_Categories_Type] ON [dbo].[Categories]
(
	[Type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Categories_UserID]    Script Date: 24/09/2025 2:59:17 CH ******/
CREATE NONCLUSTERED INDEX [IX_Categories_UserID] ON [dbo].[Categories]
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Categories_UserID_Type]    Script Date: 24/09/2025 2:59:17 CH ******/
CREATE NONCLUSTERED INDEX [IX_Categories_UserID_Type] ON [dbo].[Categories]
(
	[UserID] ASC,
	[Type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Notifications_UserID_IsRead_CreatedAt]    Script Date: 24/09/2025 2:59:17 CH ******/
CREATE NONCLUSTERED INDEX [IX_Notifications_UserID_IsRead_CreatedAt] ON [dbo].[Notifications]
(
	[UserID] ASC,
	[IsRead] ASC,
	[CreatedAt] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Transactions_CategoryID]    Script Date: 24/09/2025 2:59:17 CH ******/
CREATE NONCLUSTERED INDEX [IX_Transactions_CategoryID] ON [dbo].[Transactions]
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Transactions_Type]    Script Date: 24/09/2025 2:59:17 CH ******/
CREATE NONCLUSTERED INDEX [IX_Transactions_Type] ON [dbo].[Transactions]
(
	[Type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Transactions_UserID_Date]    Script Date: 24/09/2025 2:59:17 CH ******/
CREATE NONCLUSTERED INDEX [IX_Transactions_UserID_Date] ON [dbo].[Transactions]
(
	[UserID] ASC,
	[TransactionDate] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Transactions_UserID_Type_Date]    Script Date: 24/09/2025 2:59:17 CH ******/
CREATE NONCLUSTERED INDEX [IX_Transactions_UserID_Type_Date] ON [dbo].[Transactions]
(
	[UserID] ASC,
	[Type] ASC,
	[TransactionDate] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Transactions_UserID]    Script Date: 24/09/2025 2:59:17 CH ******/
CREATE NONCLUSTERED INDEX [IX_Transactions_UserID] ON [dbo].[Users]
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Users_Email]    Script Date: 24/09/2025 2:59:17 CH ******/
CREATE NONCLUSTERED INDEX [IX_Users_Email] ON [dbo].[Users]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Users_IsActive]    Script Date: 24/09/2025 2:59:17 CH ******/
CREATE NONCLUSTERED INDEX [IX_Users_IsActive] ON [dbo].[Users]
(
	[IsActive] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserSettings_UserID_Category]    Script Date: 24/09/2025 2:59:17 CH ******/
CREATE NONCLUSTERED INDEX [IX_UserSettings_UserID_Category] ON [dbo].[UserSettings]
(
	[UserID] ASC,
	[Category] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BackupHistory] ADD  DEFAULT (newid()) FOR [BackupID]
GO
ALTER TABLE [dbo].[BackupHistory] ADD  DEFAULT ('pending') FOR [Status]
GO
ALTER TABLE [dbo].[BackupHistory] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[BudgetCategories] ADD  DEFAULT (newid()) FOR [BudgetCategoryID]
GO
ALTER TABLE [dbo].[BudgetCategories] ADD  DEFAULT ((0)) FOR [SpentAmount]
GO
ALTER TABLE [dbo].[BudgetCategories] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[BudgetCategories] ADD  DEFAULT (getutcdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Budgets] ADD  DEFAULT (newid()) FOR [BudgetID]
GO
ALTER TABLE [dbo].[Budgets] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Budgets] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Budgets] ADD  DEFAULT (getutcdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Budgets] ADD  DEFAULT ((0.00)) FOR [SpentAmount]
GO
ALTER TABLE [dbo].[Budgets] ADD  DEFAULT ((80.00)) FOR [WarningThreshold]
GO
ALTER TABLE [dbo].[Budgets] ADD  DEFAULT ('#3498db') FOR [Color]
GO
ALTER TABLE [dbo].[Categories] ADD  DEFAULT (newid()) FOR [CategoryID]
GO
ALTER TABLE [dbo].[Categories] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Categories] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Categories] ADD  DEFAULT (getutcdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT (newid()) FOR [NotificationID]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT ('medium') FOR [Priority]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT ((0)) FOR [IsRead]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT ((0)) FOR [IsArchived]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Transactions] ADD  DEFAULT (newid()) FOR [TransactionID]
GO
ALTER TABLE [dbo].[Transactions] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Transactions] ADD  DEFAULT (getutcdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (newid()) FOR [UserID]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('VND') FOR [Currency]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('vi-VN') FOR [Language]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('Asia/Ho_Chi_Minh') FOR [TimeZone]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [IsEmailVerified]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getutcdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[UserSettings] ADD  DEFAULT (newid()) FOR [SettingID]
GO
ALTER TABLE [dbo].[UserSettings] ADD  DEFAULT ('string') FOR [SettingType]
GO
ALTER TABLE [dbo].[UserSettings] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[UserSettings] ADD  DEFAULT (getutcdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[BackupHistory]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BudgetCategories]  WITH CHECK ADD FOREIGN KEY([BudgetID])
REFERENCES [dbo].[Budgets] ([BudgetID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BudgetCategories]  WITH CHECK ADD FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([CategoryID])
GO
ALTER TABLE [dbo].[Budgets]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Categories]  WITH NOCHECK ADD FOREIGN KEY([ParentCategoryID])
REFERENCES [dbo].[Categories] ([CategoryID])
GO
ALTER TABLE [dbo].[Categories]  WITH NOCHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([CategoryID])
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserSettings]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Budgets]  WITH CHECK ADD  CONSTRAINT [CK_Budgets_Period] CHECK  (([Period]='yearly' OR [Period]='quarterly' OR [Period]='monthly' OR [Period]='weekly' OR [Period]='daily'))
GO
ALTER TABLE [dbo].[Budgets] CHECK CONSTRAINT [CK_Budgets_Period]
GO
ALTER TABLE [dbo].[Categories]  WITH NOCHECK ADD CHECK  (([Type]='expense' OR [Type]='income'))
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD CHECK  (([Type]='expense' OR [Type]='income'))
GO
/****** Object:  StoredProcedure [dbo].[GetBudgetProgress]    Script Date: 24/09/2025 2:59:17 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Get Budget Progress
CREATE PROCEDURE [dbo].[GetBudgetProgress]
    @BudgetID UNIQUEIDENTIFIER
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        bc.BudgetCategoryID,
        bc.BudgetID,
        bc.CategoryID,
        c.Name AS CategoryName,
        c.Color,
        c.Icon,
        bc.AllocatedAmount,
        bc.SpentAmount,
        CASE 
            WHEN bc.AllocatedAmount > 0 
            THEN (bc.SpentAmount / bc.AllocatedAmount) * 100 
            ELSE 0 
        END AS ProgressPercentage,
        bc.AllocatedAmount - bc.SpentAmount AS RemainingAmount
    FROM BudgetCategories bc
    INNER JOIN Categories c ON bc.CategoryID = c.CategoryID
    WHERE bc.BudgetID = @BudgetID
    ORDER BY bc.AllocatedAmount DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[GetFinancialOverview]    Script Date: 24/09/2025 2:59:17 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Get Financial Overview
CREATE PROCEDURE [dbo].[GetFinancialOverview]
    @UserID UNIQUEIDENTIFIER,
    @StartDate DATETIME2,
    @EndDate DATETIME2
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        SUM(CASE WHEN Type = 'income' THEN Amount ELSE 0 END) AS TotalIncome,
        SUM(CASE WHEN Type = 'expense' THEN Amount ELSE 0 END) AS TotalExpense,
        SUM(CASE WHEN Type = 'income' THEN Amount ELSE -Amount END) AS NetAmount,
        COUNT(CASE WHEN Type = 'income' THEN 1 END) AS IncomeTransactions,
        COUNT(CASE WHEN Type = 'expense' THEN 1 END) AS ExpenseTransactions
    FROM Transactions
    WHERE UserID = @UserID
        AND TransactionDate >= @StartDate
        AND TransactionDate <= @EndDate;
END
GO
/****** Object:  StoredProcedure [dbo].[GetMonthlyExpenseSummary]    Script Date: 24/09/2025 2:59:17 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Create Stored Procedures
-- =============================================

-- Get Monthly Expense Summary
CREATE PROCEDURE [dbo].[GetMonthlyExpenseSummary]
    @UserID UNIQUEIDENTIFIER,
    @Year INT,
    @Month INT
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        c.CategoryID,
        c.Name AS CategoryName,
        c.Color,
        c.Icon,
        SUM(t.Amount) AS TotalAmount,
        COUNT(t.TransactionID) AS TransactionCount
    FROM Transactions t
    INNER JOIN Categories c ON t.CategoryID = c.CategoryID
    WHERE t.UserID = @UserID 
        AND t.Type = 'expense'
        AND YEAR(t.TransactionDate) = @Year
        AND MONTH(t.TransactionDate) = @Month
    GROUP BY c.CategoryID, c.Name, c.Color, c.Icon
    ORDER BY TotalAmount DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CreateNotification]    Script Date: 24/09/2025 2:59:17 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_CreateNotification]
    @userId UNIQUEIDENTIFIER,
    @title NVARCHAR(200),
    @message NVARCHAR(MAX),
    @type NVARCHAR(50),
    @priority NVARCHAR(20) = 'medium',
    @actionUrl NVARCHAR(500) = NULL,
    @expiresAt DATETIME2 = NULL
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @notificationId UNIQUEIDENTIFIER = NEWID();
    
    INSERT INTO Notifications (
        NotificationID, UserID, Title, Message, Type, Priority, ActionUrl, ExpiresAt
    ) VALUES (
        @notificationId, @userId, @title, @message, @type, @priority, @actionUrl, @expiresAt
    );
    
    SELECT @notificationId as NotificationID;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_GetBudgetSummary]    Script Date: 24/09/2025 2:59:17 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetBudgetSummary]
    @UserID UNIQUEIDENTIFIER
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        COUNT(*) as TotalBudgets,
        ISNULL(SUM(BudgetAmount), 0) as TotalBudgetAmount,
        ISNULL(SUM(SpentAmount), 0) as TotalSpentAmount,
        ISNULL(SUM(BudgetAmount - SpentAmount), 0) as TotalRemainingAmount,
        CASE 
            WHEN COUNT(*) > 0 THEN AVG(CASE WHEN BudgetAmount > 0 THEN (SpentAmount / BudgetAmount) * 100 ELSE 0 END)
            ELSE 0 
        END as AveragePercentageSpent,
        COUNT(CASE WHEN BudgetAmount > 0 AND (SpentAmount / BudgetAmount) * 100 >= 100 THEN 1 END) as ExceededBudgets,
        COUNT(CASE WHEN BudgetAmount > 0 AND (SpentAmount / BudgetAmount) * 100 >= WarningThreshold AND (SpentAmount / BudgetAmount) * 100 < 100 THEN 1 END) as WarningBudgets,
        COUNT(CASE WHEN BudgetAmount > 0 AND (SpentAmount / BudgetAmount) * 100 < WarningThreshold THEN 1 END) as SafeBudgets
    FROM Budgets
    WHERE UserID = @UserID
        AND IsActive = 1;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_GetUserBudgets]    Script Date: 24/09/2025 2:59:17 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- 4. CREATE PROCEDURES WITH CORRECT COLUMN NAMES
-- =============================================

CREATE PROCEDURE [dbo].[sp_GetUserBudgets]
    @UserID UNIQUEIDENTIFIER
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        b.BudgetID,
        b.UserID,
        b.CategoryID,
        b.BudgetName,
        b.BudgetAmount,
        b.SpentAmount,
        b.WarningThreshold,
        b.Color,
        b.StartDate,
        b.EndDate,
        b.IsActive,
        b.CreatedAt,
        b.UpdatedAt,
        c.CategoryName,
        c.Icon as CategoryIcon,
        c.Color as CategoryColor,
        -- Calculations
        CASE 
            WHEN b.BudgetAmount > 0 THEN (b.SpentAmount / b.BudgetAmount) * 100
            ELSE 0
        END as PercentageSpent,
        (b.BudgetAmount - b.SpentAmount) as RemainingAmount,
        CASE 
            WHEN b.BudgetAmount <= 0 THEN 'INVALID'
            WHEN (b.SpentAmount / b.BudgetAmount) * 100 >= 100 THEN 'EXCEEDED'
            WHEN (b.SpentAmount / b.BudgetAmount) * 100 >= b.WarningThreshold THEN 'WARNING'
            ELSE 'SAFE'
        END as Status
    FROM Budgets b
    LEFT JOIN Categories c ON b.CategoryID = c.CategoryID
    WHERE b.UserID = @UserID
        AND b.IsActive = 1
    ORDER BY b.CreatedAt DESC;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_GetUserNotifications]    Script Date: 24/09/2025 2:59:17 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetUserNotifications]
    @userId UNIQUEIDENTIFIER,
    @isRead BIT = NULL,
    @type NVARCHAR(50) = NULL,
    @limit INT = 50,
    @offset INT = 0
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        NotificationID,
        Title,
        Message,
        Type,
        Priority,
        IsRead,
        IsArchived,
        ActionUrl,
        ExpiresAt,
        CreatedAt,
        ReadAt,
        -- Tính toán thời gian tương đối
        CASE 
            WHEN DATEDIFF(MINUTE, CreatedAt, GETUTCDATE()) < 60 
                THEN CAST(DATEDIFF(MINUTE, CreatedAt, GETUTCDATE()) AS NVARCHAR) + N' phút trước'
            WHEN DATEDIFF(HOUR, CreatedAt, GETUTCDATE()) < 24 
                THEN CAST(DATEDIFF(HOUR, CreatedAt, GETUTCDATE()) AS NVARCHAR) + N' giờ trước'
            WHEN DATEDIFF(DAY, CreatedAt, GETUTCDATE()) < 7 
                THEN CAST(DATEDIFF(DAY, CreatedAt, GETUTCDATE()) AS NVARCHAR) + N' ngày trước'
            ELSE FORMAT(CreatedAt, 'dd/MM/yyyy HH:mm')
        END as TimeAgo
    FROM Notifications
    WHERE UserID = @userId
        AND (@isRead IS NULL OR IsRead = @isRead)
        AND (@type IS NULL OR Type = @type)
        AND IsArchived = 0
        AND (ExpiresAt IS NULL OR ExpiresAt > GETUTCDATE())
    ORDER BY 
        CASE Priority 
            WHEN 'urgent' THEN 1
            WHEN 'high' THEN 2
            WHEN 'medium' THEN 3
            WHEN 'low' THEN 4
        END,
        CreatedAt DESC
    OFFSET @offset ROWS
    FETCH NEXT @limit ROWS ONLY;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_GetUserSettings]    Script Date: 24/09/2025 2:59:17 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetUserSettings]
    @userId UNIQUEIDENTIFIER,
    @category NVARCHAR(50) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        SettingID,
        SettingKey,
        SettingValue,
        SettingType,
        Category,
        CreatedAt,
        UpdatedAt
    FROM UserSettings
    WHERE UserID = @userId
        AND (@category IS NULL OR Category = @category)
    ORDER BY Category, SettingKey;
END

GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateBudgetSpentAmount]    Script Date: 24/09/2025 2:59:17 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Tạo procedure mới với logic date chính xác
CREATE PROCEDURE [dbo].[sp_UpdateBudgetSpentAmount]
    @userId UNIQUEIDENTIFIER,
    @categoryId UNIQUEIDENTIFIER
AS
BEGIN
    SET NOCOUNT ON;
    
    PRINT 'sp_UpdateBudgetSpentAmount called with userId: ' + CAST(@userId AS NVARCHAR(36)) + ', categoryId: ' + CAST(@categoryId AS NVARCHAR(36));
    
    DECLARE @updatedCount INT = 0;
    DECLARE @today DATE = CAST(GETDATE() AS DATE);
    DECLARE @currentMonth DATE = DATEFROMPARTS(YEAR(GETDATE()), MONTH(GETDATE()), 1);
    DECLARE @endOfMonth DATE = EOMONTH(GETDATE());
    
    PRINT 'Today: ' + CAST(@today AS NVARCHAR(20));
    PRINT 'Current month start: ' + CAST(@currentMonth AS NVARCHAR(20));
    PRINT 'End of month: ' + CAST(@endOfMonth AS NVARCHAR(20));
    
    -- Daily budgets (chỉ giao dịch hôm nay)
    UPDATE b
    SET b.SpentAmount = (
        SELECT ISNULL(SUM(t.Amount), 0)
        FROM Transactions t
        WHERE t.UserID = @userId
          AND t.CategoryID = @categoryId
          AND t.Type = 'Expense'
          AND CAST(t.TransactionDate AS DATE) = @today
    ),
    b.UpdatedAt = GETUTCDATE()
    FROM Budgets b
    WHERE b.UserID = @userId
      AND b.CategoryID = @categoryId
      AND b.Period = 'daily'
      AND b.IsActive = 1;
    
    DECLARE @dailyUpdated INT = @@ROWCOUNT;
    SET @updatedCount = @updatedCount + @dailyUpdated;
    PRINT 'Updated ' + CAST(@dailyUpdated AS NVARCHAR(10)) + ' daily budgets';
    
    -- Monthly budgets (giao dịch tháng này)
    UPDATE b
    SET b.SpentAmount = (
        SELECT ISNULL(SUM(t.Amount), 0)
        FROM Transactions t
        WHERE t.UserID = @userId
          AND t.CategoryID = @categoryId
          AND t.Type = 'Expense'
          AND t.TransactionDate >= @currentMonth
          AND t.TransactionDate <= @endOfMonth
    ),
    b.UpdatedAt = GETUTCDATE()
    FROM Budgets b
    WHERE b.UserID = @userId
      AND b.CategoryID = @categoryId
      AND b.Period = 'monthly'
      AND b.IsActive = 1;
    
    DECLARE @monthlyUpdated INT = @@ROWCOUNT;
    SET @updatedCount = @updatedCount + @monthlyUpdated;
    PRINT 'Updated ' + CAST(@monthlyUpdated AS NVARCHAR(10)) + ' monthly budgets';
    
    -- Quarterly budgets
    DECLARE @currentDate DATE = GETDATE();
    DECLARE @quarter INT = CEILING(MONTH(@currentDate) / 3.0);
    DECLARE @quarterStartMonth INT = (@quarter - 1) * 3 + 1;
    DECLARE @quarterStart DATE = DATEFROMPARTS(YEAR(@currentDate), @quarterStartMonth, 1);
    DECLARE @quarterEnd DATE = EOMONTH(DATEADD(MONTH, 2, @quarterStart));
    
    UPDATE b
    SET b.SpentAmount = (
        SELECT ISNULL(SUM(t.Amount), 0)
        FROM Transactions t
        WHERE t.UserID = @userId
          AND t.CategoryID = @categoryId
          AND t.Type = 'Expense'
          AND t.TransactionDate >= @quarterStart
          AND t.TransactionDate <= @quarterEnd
    ),
    b.UpdatedAt = GETUTCDATE()
    FROM Budgets b
    WHERE b.UserID = @userId
      AND b.CategoryID = @categoryId
      AND b.Period = 'quarterly'
      AND b.IsActive = 1;
    
    DECLARE @quarterlyUpdated INT = @@ROWCOUNT;
    SET @updatedCount = @updatedCount + @quarterlyUpdated;
    PRINT 'Updated ' + CAST(@quarterlyUpdated AS NVARCHAR(10)) + ' quarterly budgets';
    
    -- Yearly budgets
    DECLARE @yearStart DATE = DATEFROMPARTS(YEAR(GETDATE()), 1, 1);
    DECLARE @yearEnd DATE = DATEFROMPARTS(YEAR(GETDATE()), 12, 31);
    
    UPDATE b
    SET b.SpentAmount = (
        SELECT ISNULL(SUM(t.Amount), 0)
        FROM Transactions t
        WHERE t.UserID = @userId
          AND t.CategoryID = @categoryId
          AND t.Type = 'Expense'
          AND t.TransactionDate >= @yearStart
          AND t.TransactionDate <= @yearEnd
    ),
    b.UpdatedAt = GETUTCDATE()
    FROM Budgets b
    WHERE b.UserID = @userId
      AND b.CategoryID = @categoryId
      AND b.Period = 'yearly'
      AND b.IsActive = 1;
    
    DECLARE @yearlyUpdated INT = @@ROWCOUNT;
    SET @updatedCount = @updatedCount + @yearlyUpdated;
    PRINT 'Updated ' + CAST(@yearlyUpdated AS NVARCHAR(10)) + ' yearly budgets';
    
    PRINT 'sp_UpdateBudgetSpentAmount completed. Total updated: ' + CAST(@updatedCount AS NVARCHAR(10)) + ' budgets';
    
    RETURN @updatedCount;
END;

GO
/****** Object:  StoredProcedure [dbo].[UpdateBudgetSpentAmount]    Script Date: 24/09/2025 2:59:17 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Update Budget Spent Amount (Trigger alternative)
CREATE PROCEDURE [dbo].[UpdateBudgetSpentAmount]
    @CategoryID UNIQUEIDENTIFIER,
    @TransactionDate DATETIME2,
    @Amount DECIMAL(18,2)
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Find active budgets that include this category and date
    UPDATE bc
    SET SpentAmount = bc.SpentAmount + @Amount,
        UpdatedAt = GETUTCDATE()
    FROM BudgetCategories bc
    INNER JOIN Budgets b ON bc.BudgetID = b.BudgetID
    WHERE bc.CategoryID = @CategoryID
        AND b.IsActive = 1
        AND @TransactionDate >= b.StartDate
        AND @TransactionDate <= b.EndDate;
END
GO
USE [master]
GO
