USE [PersonalFinanceDB]
GO
/****** Object:  Table [dbo].[Budgets]    Script Date: 28/09/2025 2:28:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Budgets](
	[BudgetID] [uniqueidentifier] NOT NULL,
	[UserID] [uniqueidentifier] NOT NULL,
	[CategoryID] [uniqueidentifier] NULL,
	[BudgetName] [nvarchar](200) NOT NULL,
	[BudgetAmount] [decimal](18, 2) NOT NULL,
	[SpentAmount] [decimal](18, 2) NULL,
	[Period] [nvarchar](20) NOT NULL,
	[StartDate] [datetime2](7) NOT NULL,
	[EndDate] [datetime2](7) NOT NULL,
	[WarningThreshold] [decimal](5, 2) NULL,
	[Color] [nvarchar](20) NULL,
	[IsActive] [bit] NULL,
	[CreatedAt] [datetime2](7) NULL,
	[UpdatedAt] [datetime2](7) NULL,
	[AlertThreshold]  AS ([WarningThreshold]),
PRIMARY KEY CLUSTERED 
(
	[BudgetID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_GetBudgetProgress]    Script Date: 28/09/2025 2:28:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =====================================================
-- TẠO CÁC FUNCTION HỖ TRỢ
-- =====================================================

-- Function: Tính toán tiến độ ngân sách
CREATE FUNCTION [dbo].[fn_GetBudgetProgress](@budgetId UNIQUEIDENTIFIER)
RETURNS TABLE
AS
RETURN
(
    SELECT 
        b.BudgetID,
        b.BudgetName,
        b.BudgetAmount,
        b.SpentAmount,
        CASE 
            WHEN b.BudgetAmount > 0 THEN (b.SpentAmount / b.BudgetAmount) * 100
            ELSE 0
        END as ProgressPercentage,
        CASE
            WHEN b.SpentAmount >= b.BudgetAmount THEN 'exceeded'
            WHEN (b.SpentAmount / b.BudgetAmount) * 100 >= b.WarningThreshold THEN 'warning'
            ELSE 'normal'
        END as Status,
        b.BudgetAmount - b.SpentAmount as RemainingAmount
    FROM Budgets b
    WHERE b.BudgetID = @budgetId
);

GO
/****** Object:  Table [dbo].[Categories]    Script Date: 28/09/2025 2:28:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryID] [uniqueidentifier] NOT NULL,
	[UserID] [uniqueidentifier] NOT NULL,
	[CategoryName] [nvarchar](100) NOT NULL,
	[Type] [nvarchar](20) NOT NULL,
	[Icon] [nvarchar](50) NULL,
	[Color] [nvarchar](20) NULL,
	[ParentCategoryID] [uniqueidentifier] NULL,
	[IsActive] [bit] NULL,
	[CreatedAt] [datetime2](7) NULL,
	[UpdatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transactions]    Script Date: 28/09/2025 2:28:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transactions](
	[TransactionID] [uniqueidentifier] NOT NULL,
	[UserID] [uniqueidentifier] NOT NULL,
	[CategoryID] [uniqueidentifier] NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[Type] [nvarchar](20) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[TransactionDate] [datetime2](7) NOT NULL,
	[ReceiptURL] [nvarchar](500) NULL,
	[Tags] [nvarchar](500) NULL,
	[CreatedAt] [datetime2](7) NULL,
	[UpdatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[TransactionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_TransactionSummary]    Script Date: 28/09/2025 2:28:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =====================================================
-- TẠO CÁC VIEW HỖ TRỢ
-- =====================================================

-- View: Tổng hợp giao dịch theo tháng và danh mục
CREATE VIEW [dbo].[vw_TransactionSummary] AS
SELECT 
    t.UserID,
    c.CategoryName,
    c.Type as CategoryType,
    YEAR(t.TransactionDate) as Year,
    MONTH(t.TransactionDate) as Month,
    COUNT(*) as TransactionCount,
    SUM(t.Amount) as TotalAmount,
    AVG(t.Amount) as AverageAmount,
    MIN(t.Amount) as MinAmount,
    MAX(t.Amount) as MaxAmount
FROM Transactions t
INNER JOIN Categories c ON t.CategoryID = c.CategoryID
WHERE t.Amount > 0
GROUP BY 
    t.UserID,
    c.CategoryName,
    c.Type,
    YEAR(t.TransactionDate),
    MONTH(t.TransactionDate);

GO
/****** Object:  Table [dbo].[BackupHistory]    Script Date: 28/09/2025 2:28:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BackupHistory](
	[BackupID] [uniqueidentifier] NOT NULL,
	[UserID] [uniqueidentifier] NOT NULL,
	[BackupName] [nvarchar](200) NOT NULL,
	[BackupPath] [nvarchar](500) NULL,
	[BackupSize] [bigint] NULL,
	[BackupType] [nvarchar](50) NULL,
	[Status] [nvarchar](50) NULL,
	[CreatedAt] [datetime2](7) NULL,
	[ErrorMessage] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[BackupID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 28/09/2025 2:28:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[NotificationID] [uniqueidentifier] NOT NULL,
	[UserID] [uniqueidentifier] NOT NULL,
	[Type] [nvarchar](50) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Message] [nvarchar](1000) NOT NULL,
	[Priority] [nvarchar](20) NULL,
	[IsRead] [bit] NULL,
	[IsActionable] [bit] NULL,
	[ActionData] [nvarchar](max) NULL,
	[ReadAt] [datetime2](7) NULL,
	[CreatedAt] [datetime2](7) NULL,
	[ExpiresAt] [datetime2](7) NULL,
	[IsArchived] [bit] NULL,
	[ActionUrl] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[NotificationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 28/09/2025 2:28:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [uniqueidentifier] NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[FirstName] [nvarchar](100) NOT NULL,
	[LastName] [nvarchar](100) NOT NULL,
	[PhoneNumber] [nvarchar](20) NULL,
	[AvatarURL] [nvarchar](500) NULL,
	[Currency] [nvarchar](10) NULL,
	[Language] [nvarchar](10) NULL,
	[TimeZone] [nvarchar](50) NULL,
	[IsEmailVerified] [bit] NULL,
	[IsActive] [bit] NULL,
	[CreatedAt] [datetime2](7) NULL,
	[UpdatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserSettings]    Script Date: 28/09/2025 2:28:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserSettings](
	[SettingID] [uniqueidentifier] NOT NULL,
	[UserID] [uniqueidentifier] NOT NULL,
	[Category] [nvarchar](50) NOT NULL,
	[SettingKey] [nvarchar](100) NOT NULL,
	[SettingValue] [nvarchar](max) NULL,
	[SettingType] [nvarchar](20) NULL,
	[Description] [nvarchar](500) NULL,
	[CreatedAt] [datetime2](7) NULL,
	[UpdatedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[SettingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[UserID] ASC,
	[Category] ASC,
	[SettingKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[BackupHistory] ADD  DEFAULT (newid()) FOR [BackupID]
GO
ALTER TABLE [dbo].[BackupHistory] ADD  DEFAULT ('manual') FOR [BackupType]
GO
ALTER TABLE [dbo].[BackupHistory] ADD  DEFAULT ('completed') FOR [Status]
GO
ALTER TABLE [dbo].[BackupHistory] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Budgets] ADD  DEFAULT (newid()) FOR [BudgetID]
GO
ALTER TABLE [dbo].[Budgets] ADD  DEFAULT ((0)) FOR [SpentAmount]
GO
ALTER TABLE [dbo].[Budgets] ADD  DEFAULT ((80.00)) FOR [WarningThreshold]
GO
ALTER TABLE [dbo].[Budgets] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Budgets] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Budgets] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Categories] ADD  DEFAULT (newid()) FOR [CategoryID]
GO
ALTER TABLE [dbo].[Categories] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Categories] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Categories] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT (newid()) FOR [NotificationID]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT ('normal') FOR [Priority]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT ((0)) FOR [IsRead]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT ((0)) FOR [IsActionable]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT ((0)) FOR [IsArchived]
GO
ALTER TABLE [dbo].[Transactions] ADD  DEFAULT (newid()) FOR [TransactionID]
GO
ALTER TABLE [dbo].[Transactions] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Transactions] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (newid()) FOR [UserID]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('VND') FOR [Currency]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('vi-VN') FOR [Language]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('Asia/Ho_Chi_Minh') FOR [TimeZone]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [IsEmailVerified]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[UserSettings] ADD  DEFAULT (newid()) FOR [SettingID]
GO
ALTER TABLE [dbo].[UserSettings] ADD  DEFAULT ('string') FOR [SettingType]
GO
ALTER TABLE [dbo].[UserSettings] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[UserSettings] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[BackupHistory]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Budgets]  WITH CHECK ADD FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([CategoryID])
GO
ALTER TABLE [dbo].[Budgets]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Categories]  WITH CHECK ADD FOREIGN KEY([ParentCategoryID])
REFERENCES [dbo].[Categories] ([CategoryID])
GO
ALTER TABLE [dbo].[Categories]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([CategoryID])
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserSettings]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Budgets]  WITH CHECK ADD CHECK  (([Period]='yearly' OR [Period]='quarterly' OR [Period]='monthly' OR [Period]='weekly' OR [Period]='daily'))
GO
ALTER TABLE [dbo].[Categories]  WITH CHECK ADD CHECK  (([Type]='Expense' OR [Type]='Income'))
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD CHECK  (([Priority]='urgent' OR [Priority]='high' OR [Priority]='normal' OR [Priority]='low'))
GO
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD CHECK  (([Type]='Expense' OR [Type]='Income'))
GO
ALTER TABLE [dbo].[UserSettings]  WITH CHECK ADD CHECK  (([SettingType]='json' OR [SettingType]='boolean' OR [SettingType]='number' OR [SettingType]='string'))
GO
/****** Object:  StoredProcedure [dbo].[sp_GetUserBudgets]    Script Date: 28/09/2025 2:28:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Tạo lại với logic sửa
CREATE PROCEDURE [dbo].[sp_GetUserBudgets]
    @userId UNIQUEIDENTIFIER
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        CAST(b.BudgetID as NVARCHAR(36)) as id,
        CAST(b.CategoryID as NVARCHAR(36)) as categoryId,
        b.BudgetName as name,
        CAST(b.BudgetAmount as DECIMAL(18,2)) as totalAmount,
        CAST(b.SpentAmount as DECIMAL(18,2)) as spentAmount,
        b.Period as period,
        b.StartDate as startDate,
        b.EndDate as endDate,
        CAST(b.WarningThreshold as DECIMAL(5,2)) as warningThreshold,
        b.Color as color,
        CAST(b.IsActive as BIT) as isActive,
        b.CreatedAt as createdAt,
        b.UpdatedAt as updatedAt,
        ISNULL(c.CategoryName, N'Không có danh mục') as categoryName,
        ISNULL(c.Icon, 'default') as categoryIcon,
        -- SỬA: Giới hạn percentage tối đa 99999.99%
        CASE 
            WHEN b.BudgetAmount > 0 THEN 
                CASE 
                    WHEN (b.SpentAmount / b.BudgetAmount) * 100 > 99999.99 THEN CAST(99999.99 as DECIMAL(8,2))
                    ELSE CAST((b.SpentAmount / b.BudgetAmount) * 100 as DECIMAL(8,2))
                END
            ELSE CAST(0 as DECIMAL(8,2))
        END as progressPercentage,
        -- SỬA: Logic status chính xác
        CASE
            WHEN b.SpentAmount >= b.BudgetAmount * 1.5 THEN 'critical'  -- Vượt 150%
            WHEN b.SpentAmount >= b.BudgetAmount THEN 'exceeded'        -- Vượt 100%
            WHEN (b.SpentAmount / b.BudgetAmount) * 100 >= b.WarningThreshold THEN 'warning'  -- Gần vượt
            ELSE 'normal'  -- Trong tầm kiểm soát
        END as status
    FROM Budgets b
    LEFT JOIN Categories c ON b.CategoryID = c.CategoryID AND c.UserID = @userId
    WHERE b.UserID = @userId AND b.IsActive = 1
    ORDER BY b.CreatedAt DESC;
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_GetUserNotifications]    Script Date: 28/09/2025 2:28:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetUserNotifications]
    @userId UNIQUEIDENTIFIER,
    @type NVARCHAR(50) = NULL,
    @isRead BIT = NULL,
    @limit INT = 50
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT TOP (@limit)
        NotificationID,
        Type,
        Title,
        Message,
        Priority,
        IsRead,
        IsActionable,
        ActionData,
        ActionUrl,
        IsArchived,
        ExpiresAt,
        ReadAt,
        CreatedAt
    FROM Notifications
    WHERE UserID = @userId
    AND (@type IS NULL OR Type = @type)
    AND (@isRead IS NULL OR IsRead = @isRead)
    AND (IsArchived = 0 OR IsArchived IS NULL)
    AND (ExpiresAt IS NULL OR ExpiresAt > GETDATE())
    ORDER BY CreatedAt DESC;
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_GetUserSettings]    Script Date: 28/09/2025 2:28:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Stored Procedure: Lấy cài đặt của user
CREATE PROCEDURE [dbo].[sp_GetUserSettings]
    @userId UNIQUEIDENTIFIER,
    @category NVARCHAR(50) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        SettingID,
        Category,
        SettingKey,
        SettingValue,
        SettingType,
        Description,
        CreatedAt,
        UpdatedAt
    FROM UserSettings
    WHERE UserID = @userId
    AND (@category IS NULL OR Category = @category)
    ORDER BY Category, SettingKey;
END;

GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateBudgetSpentAmount]    Script Date: 28/09/2025 2:28:52 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Stored Procedure: Cập nhật số tiền đã chi trong ngân sách
CREATE PROCEDURE [dbo].[sp_UpdateBudgetSpentAmount]
    @userId UNIQUEIDENTIFIER,
    @categoryId UNIQUEIDENTIFIER
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Cập nhật số tiền đã chi cho tất cả ngân sách của category này
    UPDATE Budgets 
    SET SpentAmount = (
        SELECT ISNULL(SUM(Amount), 0)
        FROM Transactions t
        WHERE t.UserID = @userId 
        AND t.CategoryID = @categoryId
        AND t.Type = 'Expense'
        AND t.TransactionDate >= Budgets.StartDate
        AND t.TransactionDate <= Budgets.EndDate
    ),
    UpdatedAt = GETDATE()
    WHERE UserID = @userId 
    AND CategoryID = @categoryId 
    AND IsActive = 1;
END;

GO
